<!-- ////////////// FOOTER ////////////// -->
//- footer
//- 	.container
//- 		.row
//- 			.col-md-3
//- 				h4 FULLSTACK VIỆT NAM
//- 				p Moblie: (+84) 969689893
//- 				p Email: admin@fullstackvietnam.com
//- 				p Địa chỉ: 28 đường số 2 - CITY LAND
//- 				p Phường 7 - Gò Vấp - HCM
//- 			.col-md-3
//- 				h4 LINKS
//- 				p
//- 					a(href="#") Khóa học Front end master
//- 				p
//- 					a(href="#") Khóa học Fullstack Developer
//- 				p
//- 					a(href="#") Khóa học Design chuyên nghiệp
//- 				p
//- 					a(href="#") Lịch khai giảng
//- 				p
//- 					a(href="#") Đăng ký khóa học
//- 			.col-md-2
//- 				h4 ABOUT
//- 				p
//- 					a(href="#") Chương trình khuyến mãi
//- 				p
//- 					a(href="#") Tin tức
//- 				p
//- 					a(href="#") Thư viện
//- 				p
//- 					a(href="#") Tuyển dụng
//- 				p
//- 					a(href="#") Liên hệ
//- 			.col-md-4
//- 				h4 EMAIL
//- 				.input-email
//- 					input.input(type="text" placeholder="Email của bạn")
//- 					button.btn(type="button") Gửi
section
	.copyright
		.container
			.row.align-items-center
				.col-md-6
					.content &copy; 2018 FULLSTACKVIETNAM. ALL RIGHT RESERVES. DESIGN BY CANHCAM.
				.col-md-6
					.social
						.item
							i.fa.fa-twitter
						.item
							i.fa.fa-facebook
